<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>Document</title>
</head>
<body>
	<form action="http://fenxiang.vip.17zwd.com/batch_update.do" method="post" >
		
		<input type="checkbox" name="select_goods[]" id="" value="5799617"/>5799617
		<input type="checkbox" name="select_goods[]" id="" value="6058116"/>6058116
		<input type="checkbox" name="select_goods[]" id="" value="6058126"/>6058126
		<input type="checkbox" name="select_field[]" id="" value="content"/>content
		<input type="checkbox" name="select_field[]" id="" value="title"/>title
		<input type="checkbox" name="select_field[]" id="" value="price"/>price
		<input type="submit" value="submit" />
	</form>
</body>
</html>